/* *********************************** */
/* デフォルトカラー定義（xxx-10は10進数）
/* *********************************** */

/* 設定値 */
color-var-black = #000000
color-var-black-10 = 255,255,255
color-var-gray = #CCCCCC
color-var-gray-10 = 204,204,204
color-var-white = #FFFFFF
color-var-white-10 = 0,0,0

/* シャドー、オーバーレイ（固定） */
color-shadow = rgba(#000000, .05)
color-overlay = rgba(#000000, .8)

/* サイトカラー */
color-main = color-var-gray
color-main-10 = color-var-gray-10
color-main-light1 = color-var-gray
color-main-light1-10 = color-var-gray-10
color-main-light2 = color-var-gray
color-main-light2-10 = color-var-gray-10
color-main-dark1 = color-var-gray
color-main-dark1-10 = color-var-gray-10
color-main-dark2 = color-var-gray
color-main-dark2-10 = color-var-gray-10
color-main-dark3 = color-var-gray
color-main-dark3-10 = color-var-gray-10
color-black = color-var-black
color-black-10 = color-var-black-10
color-white = color-var-white
color-white-10 = color-var-white-10
color-bg-main = color-var-white
color-bg-main-10 = color-var-white-10
color-bg-sub = color-var-white
color-bg-sub-10 = color-var-white-10
color-bg-box = color-var-gray
color-bg-box-10 = color-var-gray-10

/* ボタン系 */
color-btn-positive = color-var-gray
color-btn-positive-10 = color-var-gray-10
color-btn-positive-hover = color-var-gray
color-btn-positive-hover-10 = color-var-gray-10
color-btn-negative = color-var-gray
color-btn-negative-10 = color-var-gray-10
color-btn-negative-hover = color-var-gray
color-btn-negative-hover-10 = color-var-gray-10
color-btn-box = color-var-gray
color-btn-box-10 = color-var-gray-10
color-btn-box-hover = color-var-gray
color-btn-box-hover-10 = color-var-gray-10
color-icon = color-var-gray
color-icon-10 = color-var-gray-10
color-icon-hover = color-var-gray
color-icon-hover-10 = color-var-gray-10

/* 罫線系 */
color-border = color-var-gray
color-border-10 = color-var-gray-10

/* フォント系 */
color-font = color-var-black
color-font-10 = color-var-black
color-font-light1 = color-var-black
color-font-light1-10 = color-var-black
color-font-light2 = color-var-black
color-font-light2-10 = color-var-black
color-font-light3 = color-var-black
color-font-light3-10 = color-var-black
color-link1 = color-var-black
color-link1-10 = color-var-black-10
color-link2 = color-var-black
color-link2-10 = color-var-black-10
color-link3 = color-var-black
color-link3-10 = color-var-black-10

/* グラフ系 */
color-graph1 = color-var-gray
color-graph1-10 = color-var-gray-10
color-graph2 = color-var-gray
color-graph2-10 = color-var-gray-10
color-graph3 = color-var-gray
color-graph3-10 = color-var-gray-10
color-graph4 = color-var-gray
color-graph4-10 = color-var-gray-10
color-graph5 = color-var-gray
color-graph5-10 = color-var-gray-10
color-graph-base = color-var-gray
color-graph-base-10 = color-var-gray-10

/* カレンダー系 */
color-calendar-sat = color-var-gray
color-calendar-sat-10 = color-var-gray-10
color-calendar-sun = color-var-gray
color-calendar-sun-10 = color-var-gray-10

/* お知らせ系 */
color-success = color-var-gray
color-success-10 = color-var-gray-10
color-info = color-var-gray
color-info-10 = color-var-gray-10
color-warn = color-var-gray
color-warn-10 = color-var-gray-10
color-error = color-var-gray
color-error-10 = color-var-gray-10
