.Vue-Toastification__container
  width 96vw!important
  &.bottom-center
    margin-left -48vw!important
  .Vue-Toastification__toast
    max-width none
    width 100%
    .Vue-Toastification__icon
      margin-right 10px
    .Vue-Toastification__toast-body
      color color-white
      font-weight bold
      font-size rem(14px)
      letter-spacing 0.04em
    &.Vue-Toastification__toast--success
      background-color var(--color-success)
    &.Vue-Toastification__toast--info
      background-color var(--color-info)
    &.Vue-Toastification__toast--warning
      background-color var(--color-warn)
    &.Vue-Toastification__toast--error
      background-color var(--color-error)